.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header img {
    height: 70px;
}

.header a {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    text-transform: capitalize;
}

@media all and (max-width: 768px) {
    .header img {
        height: 46px;
    }

    .header a {
        font-size: 12px;
        padding: 8px 18px;
    }

}