.cardContainer {
    width: calc(100% / 3);

    box-sizing: border-box;
    padding: 10px;
}

.logementCard {
    /* border: 1px solid blue; */
    height: 340px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    text-decoration: none;
}

.logementCard h3 {
    color: white;
    padding: 10px;
    width: 50%;

}

@media all and (max-width: 768px) {
    .cardContainer {
        width: 100%;
    }
}