.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-title {
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    text-align: center;
    color: #FF6060;
}

.error-text {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.error-link {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: black;
    margin: 50px 0;
}

@media all and (max-width: 768px) {
    .error-title {
        font-size: 96px;
    }

    .error-text {
        font-size: 18px;
    }

    .error-link {
        font-size: 14px;
    }

}