.banner {
    width: 100%;
    height: 223px;
    border: 1px solid black;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.bannerHover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.bannerHover2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.banner h1 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    color: white;
    position: relative;
    z-index: 10;

}

@media all and (max-width: 768px) {
    .banner h1 {
        font-size: 24px;
    }

    /*
    .bannerHover,
    .bannerHover2 {
        height: 70%;

    }
    */
    .banner {
        height: 111px;
    }
}

@media all and (max-width: 321px) {
    .banner h1 {
        font-size: 23px;
    }

}